@font-face {
    font-family: "Hack";
    src: url("./fonts/Hack-BoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-BoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}

html {
    background-color: #212121;
    color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}

article {
    text-align: center;
}

.ideology {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 2em;
}

.regen {
    background-color: #eeeeee;
    border: none;
    color: #212121;
    margin: 5% auto 2% auto;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 12px 24px;
}

.title {
    font-family: Hack, monospace;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 3em;
    margin: 2.5% auto 5%;
}

footer {
    margin: 0 5% auto 5%;
}

a,
u {
    text-decoration: none;
    font-weight: bold;
}